nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: larger;
}


nav .logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    @apply text-blue-500;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}

nav .action {
    display: flex;
    align-items: center;
    gap: 1rem;
}